.container {
	background-color: #333;
	border-radius: 15px;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	gap: 0.75rem;
	position: relative;
	flex-wrap: wrap;
	max-width: 500px;
	.input {
		padding: 1.5rem;
		font-size: 2rem;
		border-radius: 15px;

		&:focus {
			outline-color: black;
		}
	}

	label {
		margin-left: 1rem;
		font-size: 1.5rem;
	}

	.faq {
		height: 30px;
		width: 30px;
		background: none;
		border: 1px solid rgb(255, 255, 255, 0.5);
		border-radius: 50%;
		color: white;
		padding: 0.75rem;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 1rem;
		position: absolute;
		right: 0.5rem;
		top: 0.5rem;
		box-shadow: inset 1px 1px 5px black;
		transition: transform 0.2s box-shadow 0.2s;

		&:hover {
			transform: scale(1.1);
			box-shadow: 0px 0px 10px black;
		}
	}

	.popup {
		position: absolute;
		width: 200px;
		height: 100px;
		text-align: center;
		top: -6rem;
		right: -12.3rem;
		background-color: rgb(255, 255, 255, 0.3);
		color: white;
		font-size: 0.75rem;
		display: flex;
		align-items: center;
		justify-content: center;
	}
}
