.container {
	background-color: #333;
	border-radius: 15px;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	gap: 0.75rem;
	position: relative;
	.input {
		padding: 1.5rem;
		font-size: 2rem;
		border-radius: 15px;

		&:focus {
			outline-color: black;
		}
	}

	label {
		margin-left: 1rem;
	}

	.faq {
		height: 30px;
		width: 30px;
		background: none;
		border: 1px solid rgb(255, 255, 255, 0.5);
		border-radius: 50%;
		color: white;
		padding: 0.75rem;
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 1rem;
		position: absolute;
		right: 0.5rem;
		top: 0.5rem;
	}


}
