.mainLayout {
	position: relative;
	width: 100vw;

	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
    background-color: var(--color-background-default);
    gap: 2rem;
}
