.mainLayout {
	position: relative;
	width: 100vw;
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
    background-color: var(--color-main-layout);
    gap: 2rem;
}
