@mixin hamburgerInner {
  position: absolute;
  height: 3px;
  width: 100%;
  right: 0;
  background-color: white;
  transition: all 0.3s;
}

.hamburger {
  position: fixed;
  top: 15px;
  right: 15px;

  .box {
    width: 40px;
    height: 32px;
    transition: all 0.3s;

    .inner {
      @include hamburgerInner;
      top: 50%;
      transform: translateY(-50%);

      &::after {
        @include hamburgerInner;
        content: '';
        top: 10px;
      }
      &::before {
        @include hamburgerInner;
        content: '';
        top: -10px;
      }
    }
  }
  .active {
    transition: all 0.3s;
    .inner {
      @include hamburgerInner;
      top: 50%;
      transform: translateY(-50%);
      background-color: transparent;

      &::after {
        @include hamburgerInner;
        content: '';
        top: 0px;
        transform: rotate(135deg);
      }
      &::before {
        @include hamburgerInner;
        content: '';
        transform: rotate(45deg);
        top: 0px;
      }
    }
  }
}
