* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}

li {
	list-style: none;
}

h1,
h2 {
	font-weight: 700;
}

h1 {
	font-size: 2rem;
}

h2 {
	font-size: 1.5rem;
}

h3 {
	font-size: 1.25rem;
}

a {
	text-decoration: none;
	color: var(--color-text-default);
	cursor: pointer;
}

button {
	cursor: pointer;
}

body {
	font-size: var(--font-size-default);
	font-family: var(--font-family-default);
	color: var(--color-text-default);
}

#root {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 100vh;
}
