body {
	--font-size-default: 16px;
	--font-family-default: Helvetica, Arial, sans-serif;

	--color-text-default: #ffffff;
	--color-text-grey: #7a7a7a;
	--color-yellow: #ffde00;
	--color-white: #ffffff;
	--color-grey: hsl(0, 0%, 96%);
	--color-theme-main: #404040;
}
