body {
	--font-size-default: 16px;
	--font-family-default: Helvetica, Arial, sans-serif;

	--color-background-default: #404040;
	--color-background-grey: #7a7a7a;
	--color-background-black: #333;
	--color-text-default: #ffffff;
	--color-text-error: rgb(205, 64, 64);

	--color-white: #ffffff;
	--color-grey: hsl(0, 0%, 96%);


	--color-main-layout: 
	--color-light-blue: #f0f8ff;
	--color-light-grey: #f5f5f5;
	--color-blue: #007bff;
	--color-succes: #28a745;
	--color-error: #dc3545;
	--color-warning: #ffc107;
}
