body {
	--font-size-default: 16px;
	--font-family-default: Helvetica, Arial, sans-serif;

	--color-text-default: #222020;
	--color-text-grey: #7a7a7a;
	--color-yellow: #ffde00;
	--color-white: #ffffff;
	--color-grey: #f4f4f4;
	--color-theme-main: #056943;
}
