.quizContainer {
	width: 400px;

	background-color: var(--color-background-default);
	flex-wrap: wrap;

	.questionHeading {
		color: yellow;
	}

	ul {
		margin: 20px;
	}

	div {
		margin: 1.5rem;
	}

	p {
		margin: 5px;
	}

	.correctAnswer1 {
		color: green;
	}
}
