@mixin questionStyle {
	text-align: center;
	padding: 1rem;
	margin: 1rem;
	border-radius: 8px;
	font-size: 1.5rem;
	transition: background-color 0.3s, color 0.3s;

	cursor: pointer;
}

.quizContainer {
	width: 800px;
	padding: 2rem;
	border-radius: 1rem;
	background-color: #37474F;
	flex-wrap: wrap;

	.questionHeading {
		font-size: 2rem;
		margin-bottom: 5rem;
        color: #81D4FA;
	}

	.question {
		@include questionStyle;
		background-color: var(--color-white);

		color: black;
		&:hover {
			background-color: #81D4FA;
			color: black;
		}
	}

	.questionCorrectGuess {
		@include questionStyle;
		background-color: rgb(31, 194, 31);
	}

	.questionCorrectBad {
		@include questionStyle;
		background-color: #EF5350;
	}

	.questionRest {
		@include questionStyle;
		background-color: rgba(169, 167, 167, 0.2);
	}

	.questionDescription {
		margin: 2rem;
		padding: 1rem;
		background-color: var(--color-white);
		color: black;
		font-size: 1.5rem;
		border-radius: 5px;
		text-align: center;
	}

    .questionNumber{
        color: #B0BEC5;
        padding: 0.5rem;
        text-align: end;
    }

}
