@mixin questionStyle {
	text-align: center;
	padding: 1rem;
	margin: 1rem;
	border-radius: 8px;
	font-size: 1.5rem;

	cursor: pointer;
}

.quizContainer {
	width: 800px;
	padding: 2rem;
	border-radius: 1rem;
	background-color: var(--color-background-black);
	flex-wrap: wrap;

	.questionHeading {
		font-size: 2rem;
		margin-bottom: 5rem;
	}

	.question {
		@include questionStyle;
		background-color: var(--color-white);

		color: black;
		&:hover {
			background-color: yellow;
			color: black;
		}
	}

	.questionCorrectGuess {
		@include questionStyle;
		background-color: green;
	}

	.questionCorrectBad {
		@include questionStyle;
		background-color: red;
	}

	ul {
		margin: 20px;
	}

	div {
		margin: 1.5rem;
	}

	p {
		margin: 5px;
	}

	.correctAnswer1 {
		color: green;
	}
}

// style={{
// 						color: showExplanation
// 							? key === question.poprawna
// 								? 'green'
// 								: selectedAnswer === key
// 								? 'red'
// 								: 'black'
// 							: 'black',
// 					}}
