.errorParaph{
    background-color: var(--color-background-black);
    color: var(--color-text-error);
    text-align: center;
    font-size: 1.2rem;
    margin-top: -1rem;
    margin-bottom: -1rem;
    padding: 0.25rem;
    border-radius: .5rem;
}