.card {
  box-shadow:
    rgba(72, 23, 185, 0.4) -1px -1px,
    rgba(72, 23, 185, 0.4) 4px 4px,
    rgba(72, 23, 185, 0.4) 9px 9px,
    rgba(72, 23, 185, 0.4) 14px 14px,
;
  backdrop-filter: blur(3px);
  background-color: rgb(0, 0, 0, 0.1);
}

.animateOut {
  animation: animateOut 0.2s ease-out forwards;
}

.animateIn {
  animation: animateIn 0.4s ease-in-out forwards;
}

@keyframes animateOut {
  from {
    transform: translateY(0) translateX(0) rotate(5deg);
    opacity: 1;
  }
  to {
    transform: translateY(-30%) translateX(30%) rotate(15deg);
    opacity: 0;
  }
}

@keyframes animateIn {
  0% {
    transform: translateY(50%) translateX(0%) rotate(-5deg);
    opacity: 0;
  }
  50% {
    transform: translateY(-10%) translateX(0%) rotate(6deg);
    opacity: 1;
  }
  100% {
    transform: translateY(0) translateX(0) rotate(3deg);
    opacity: 1;
  }
}
