.fullWidthButton{
    width: 100%;
    padding: 2rem;
    border-radius: .5rem;
    font-size: 1.5rem;
    transition: all .3s;
    background-color: #81D4FA;
    color: rgba(17, 5, 34, 0.68);

    &:hover{
       background-color: #40b7ee;
        
    }
}