.fullWidthButton{
    width: 100%;
    padding: 2rem;
    border-radius: .5rem;
    font-size: 1.5rem;
    transition: all .3s;

    &:hover{
        background-color: rgba(71, 245, 2, 0.539);
       
        
    }
}